/* LoginPage.css */

/* Hero Section */

.card {
  border-radius: 1rem;
}

.card-body {
  padding: 2rem;
}
.login-cont{
  width: 30%;
  margin-left: 38%;
}

.login-img{
  margin-left: 38%;
  height: 25%;
  width: 25%;
  border-radius: 50%;
  padding: 0;
}


/* Form Input Focus */
.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .login-cont{
    width: 75%;
    margin-left: 10%;
  }
  .hero-section {
    height: auto;
    padding: 2rem 1rem;
  }
}
