/* Sidebar base styling */
.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: #fff;
  transition: all 0.3s ease;
  top: 0; /* Adjust to the height of your navbar */
  bottom: 0; /* Adjust to the height of your footer */
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* Allow scrolling if content is larger than viewport */
}

.sidebar.hidden {
  width: 150px;
  padding: 0;
}

.sidebar.visible {
  width: 500px;
}

.sidebar-toggle {
  position: center;
  background-color: #2c3e50;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-icon {
  color: #fff;
  font-size: 1.5rem;
}

/* Sidebar logo */
.logo-container {
  text-align: center;
}

.sidebar-logo {
  width: 100px;
  height: auto;
}

.academy-text {
  font-size: 1.2rem;
  color: #ecf0f1;
}

.academy-text--primary {
  color: #3498db;
}

/* Navigation link styling */
.nav-link,
.nav-link:hover,
.nav-link:focus {
  color: #bdc3c7;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.nav-link.active {
  background-color: #2980b9;
  color: #fff;
}

.nav-link .icon {
  margin-right: 10px;
}

.nav-link:hover {
  background-color: #34495e;
}

/* User Profile hover effect */
.user-hover {
  padding: 10px 20px;
  cursor: pointer;
}

.user-hover:hover {
  background-color: #34495e;
}

/* Overlay for the collapsed sidebar */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 200vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
