.table-row {
    transition: all 0.3s ease-in-out;
}

.table-row:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
}

.input-group .form-control {
    margin-right: 10px;
}

.input-group-append .btn {
    margin-left: 10px;
}

.dlt-btn:hover{
    background-image: linear-gradient(#E4003A,#f03a07) !important;
}
