@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 2s ease-out forwards;
}

@keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.animate-slideInUp {
    animation: slideInUp 1s ease-out forwards;
}

@keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

.animate-scaleIn {
    animation: scaleIn 1s ease-out forwards;
}