@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  animation: fadeIn 1s ease-in-out;
  background-image: url(./../../Images/bg-nav.jpg);
  position: fixed;
  width: 100%;
  height: 25%;
  z-index: 20000;
}

.navbar-brand img {
  width: 75px;
  height: 75px;
}

.navbar-nav .nav-link {
  transition: color 0.3s, transform 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #ffdd57; /* Change to your desired hover color */
  transform: scale(1.1);
}

.btn-outline-light {
  transition: background-color 0.3s, color 0.3s;
}

.collapse.show {
  animation: slideInDown 0.5s ease-in-out;
}

.navbar-hide {
  top: -100px;
  transition: top 0.3s;
}

.navbar-show {
  top: 0;
  transition: top 0.3s;
}
